In [1]:
# import Required libraries
import tweepy as tw
import pandas as pd
import re
import nltk

In [2]:
nltk.download('words')
words = set(nltk.corpus.words.words())

[nltk_data] Downloading package words to
[nltk_data]     C:\Users\Raj\AppData\Roaming\nltk_data...
[nltk_data]   Package words is already up-to-date!

In [3]:
ACCESS_TOKEN = "1333702970416918528-bW0xkh8vvV6Ni3dJZp1MiiMvBhZU91"
ACCESS_TOKEN_SECRET = "gcIbfc0FQ9MsVVFeuDGf978IHsZJbCXQ1EkhnOa0jQqw1"
CONSUMER_API_KEY = "40fkA3lWN3KocLff96p8g1ohq"
CONSUMER_API_SECRET = "Rumr6SKiCNL4YcWw74LtvpETPAckgPfAc18xjBsTszXtIoSNUG"

In [4]:
# Create an Authentication Object
auth = tw.OAuthHandler(CONSUMER_API_KEY, CONSUMER_API_SECRET)

In [5]:
# Creat your Access Token to authenticate object
auth.set_access_token(ACCESS_TOKEN, ACCESS_TOKEN_SECRET)

In [6]:
# Create an API Object passing auth object
api = tw.API(auth)

In [11]:
key_word = ['Corona', 'ElonMusk', 'BillGates', 'Rihanna']
no_of_tweets = 250
tweets = []
likes = []
time = []

In [12]:
for tweet in key_word:
    for i in tw.Cursor(api.user_timeline, id=tweet, tweet_mode = "extended", lang="en").items(no_of_tweets):
        tweets.append(i.full_text)
        likes.append(i.favorite_count)    
        time.append(i.created_at)

Unexpected parameter: id
Unexpected parameter: lang
Unexpected parameter: id
Unexpected parameter: lang
Unexpected parameter: id
Unexpected parameter: lang
Unexpected parameter: id
Unexpected parameter: lang
Unexpected parameter: id
Unexpected parameter: lang
Unexpected parameter: id
Unexpected parameter: lang
Unexpected parameter: id
Unexpected parameter: lang
Unexpected parameter: id
Unexpected parameter: lang
Unexpected parameter: id
Unexpected parameter: lang
Unexpected parameter: id
Unexpected parameter: lang
Unexpected parameter: id
Unexpected parameter: lang
Unexpected parameter: id
Unexpected parameter: lang
Unexpected parameter: id
Unexpected parameter: lang
Unexpected parameter: id
Unexpected parameter: lang
Unexpected parameter: id
Unexpected parameter: lang
Unexpected parameter: id
Unexpected parameter: lang
Unexpected parameter: id
Unexpected parameter: lang
Unexpected parameter: id
Unexpected parameter: lang
Unexpected parameter: id
Unexpected parameter: lang
Unexpected parameter: id
Unexpected parameter: lang
Unexpected parameter: id
Unexpected parameter: lang
Unexpected parameter: id
Unexpected parameter: lang
Unexpected parameter: id
Unexpected parameter: lang
Unexpected parameter: id
Unexpected parameter: lang
Unexpected parameter: id
Unexpected parameter: lang
Unexpected parameter: id
Unexpected parameter: lang
Unexpected parameter: id
Unexpected parameter: lang
Unexpected parameter: id
Unexpected parameter: lang
Unexpected parameter: id
Unexpected parameter: lang
Unexpected parameter: id
Unexpected parameter: lang
Unexpected parameter: id
Unexpected parameter: lang
Unexpected parameter: id
Unexpected parameter: lang
Unexpected parameter: id
Unexpected parameter: lang
Unexpected parameter: id
Unexpected parameter: lang
Unexpected parameter: id
Unexpected parameter: lang
Unexpected parameter: id
Unexpected parameter: lang
Unexpected parameter: id
Unexpected parameter: lang
Unexpected parameter: id
Unexpected parameter: lang
Unexpected parameter: id
Unexpected parameter: lang
Unexpected parameter: id
Unexpected parameter: lang
Unexpected parameter: id
Unexpected parameter: lang
Unexpected parameter: id
Unexpected parameter: lang

In [14]:
df_tweet = pd.DataFrame({'tweets': tweets, 'likes':likes, 'time':time})
df_tweet

,tweets,likes,time
0,We’ve always felt we have a responsibility to ...,16,2021-11-10 14:05:50+00:00
1,In the third and final part of his work #South...,7,2021-10-28 20:02:00+00:00
2,After time in the bush with the master tracker...,3,2021-10-27 15:35:00+00:00
3,While in South Africa Sam Potter headed inland...,9,2021-10-22 20:00:01+00:00
4,"A short series by Sam Potter, Episode 2: Maste...",6,2021-10-21 17:01:00+00:00
...,...,...,...
767,I ❤️ the Migos!! Like my whole ghetto life was...,17581,2019-09-23 02:10:03+00:00
768,"I asked bro, I want my mornings to start with ...",10520,2019-09-23 02:08:57+00:00
769,LAVEEERRRRNNNEEEE!!! I rewound this part 10000...,11135,2019-09-23 02:07:49+00:00
770,Fun fact: 21 Savage had chicken wings just bef...,14163,2019-09-23 02:06:56+00:00
771,These chicks is baaaaaaaddddd!!! I wanted to d...,7481,2019-09-23 02:05:30+00:00

In [15]:
df_tweet.to_csv('Collected_tweet.csv')